/* 전체 화면 컨테이너 */
.home-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* 스토리북 폼 */
.home-storybook-form {
    display: flex;
    background-color: #fffbfa;
    border: 1px solid #f5eedc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow:
            0 20px 40px rgba(0, 0, 0, 0.4),
            0 15px 30px rgba(0, 0, 0, 0.3),
            0 10px 20px rgba(0, 0, 0, 0.2),
            0 0 40px rgba(0, 0, 0, 0.1);
}

/* 폼 섹션 */
.home-form-section {
    flex: 1;
    padding: 20px;
}

.home-left-section {
    background-color: #e0d8ce;
}

.home-right-section {
    background-color: #fffbfa;
}

/* 섹션 제목 */
.home-section-title {
    font-size: 1.5rem;
    color: #4a4a4a;
    margin-bottom: 20px;
}

/* 입력 그룹 */
.home-input-group {
    margin-bottom: 20px;
    width: 70%;
}

/* 카테고리 라벨 */
.home-category-label {
    display: block;
    font-size: 1.2rem;
    color: #8a8a8a;
    margin-bottom: 5px;
}

/* 입력 필드 */
.home-input-field {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #e0d5b3;
    border-radius: 5px;
}

/* 제출 버튼 */
.home-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #ffd700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home-submit-button:hover {
    background-color: #ffed4a;
}

.home-submit-button:disabled {
    background-color: #d3d3d3;
    cursor: not-allowed;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
    .home-storybook-form {
        flex-direction: column;
    }

    .home-form-section {
        width: 100%;
    }
}

.home-magic-image {
    width: 50%; /* Adjust the width to fit the container */
    height: auto; /* Maintain aspect ratio */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow for better visual effect */
    display: block; /* Ensures the image is treated as a block-level element */
    margin: 20px auto; /* Center the image and add some space around it */
}